.Container {
  width: 99vw;
  max-width: 1200px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: initial;
  font-size: 16px;
  gap: 2rem;

  h1 {
    font-size: 20px;
    letter-spacing: 0.2rem;
  }

  & .FormContainer {
    width: 80%;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 17px 3px #dadada69;

    form{
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    select {
      height: 50px;
      width: 100%;
      border: 2px solid #061d84;
      border-radius: 5px;
      outline: none;
      padding: 0 1rem;
      font-weight: bold;
      cursor: pointer;
    }

    input {
      width: 100%;
      height: 50px;
      border: 2px solid #061d84;
      border-radius: 5px;
      outline: none;
      padding: 0 1rem;
      font-weight: bold;
    }

    button {
      width: 100%;
      height: 50px;
      padding: 0 20px;
      margin-top: 2rem;
      border: 2px solid #061d84;
      background: #061d84;
      color: #fff;
      cursor: pointer;
    }
  }
}
