.Container {
  width: 100%;
  .TextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ItemContainer {
      width: 3.2rem;
      height: 3.2rem;
      background: #ebebeb;
      border-radius: 50%;
      font-size: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      svg {
        fill: #666;
      }
      P {
        margin-top: 0.1rem;
        font-weight: bold;
        color: #666;
      }
    }
    .ItemContainerActive {
      background: #43c429;
      svg {
        fill: #000;
      }
      p {
        color: #000;
      }
    }
  }
}
